# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native builds & keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & tests
.metro-health-check*
coverage/

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS & system files
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
